@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./assets/sunny.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('./assets/gloomy.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.Search {
  width: 100%;
  margin: 0 0 75px;
}

.Search .SearchBar {
  display: block;
  width: 50%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  
  color: #313131;
  font-size: 20px;

}

.Search .SearchBar:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.LocationBox .Location  {
  margin-top: -40px;
  color: #FFF;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.LocationBox .date {
  color: #FFF;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.WeatherBox {
  text-align: center;
}

.WeatherBox .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  border-radius: 16px;

  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 150px;
  font-weight: 400;

  text-align: center;
}

.WeatherBox .Weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  margin-top: -20px;
}